.carousel {
    position: relative;
}

.carousel__viewport {
    aspect-ratio: 16/9;
    border-radius: var(--radius-S);

    overflow: hidden;
}

.carousel__track {
    overflow: hidden;
    border-radius: var(--radius-S);

    position: relative;
    height: 100%;
}

.carousel__slide {
    position: absolute;
    inset: 0;

    opacity: 0;
    transition: opacity 0.3s ease;

    pointer-events: none;
}

.carousel__slide.is-active {
    opacity: 1;
}

.carousel__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* conteneur du stepper */
.carousel__stepper {
    position: absolute;
    left: 20px;
    bottom: 20px;

    display: flex;
    gap: 8px;

    padding: 6px 8px;
    border-radius: 999px;
    background-color: var(--color-secondary-opacity-25);
    backdrop-filter: blur(6px);
}

/* état par défaut : DOT */
.carousel__step {
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: var(--color-secondary-opacity-50);

    border: none;
    padding: 0;
    cursor: pointer;

    transition:
        width 0.35s ease,
        background-color 0.35s ease,
        border-radius 0.35s ease;
    opacity: 0.35s ease;
}


/* état actif : PILL */
.carousel__step.is-active {
    width: 40px;
    border-radius: 999px;
    background-color: var(--color-secondary);
}

.carousel__step:hover {
    opacity: 0.8;
}

.carousel__step:focus-visible {
    outline: none;
}

@media (max-width: 768px) {
    .carousel__viewport {
        aspect-ratio: 4 / 5;
    }

    .carousel__stepper {
        display: none;
    }
}

@media (max-width: 420px) {}