/* =========================
   Page Labo
========================= */
:root {
    /* Laboratoire Tokens */
    --color-labo-font: #EAFFF7;
    --color-labo-onde-punctal: #FF6421;
    --color-labo-onde-punctal-secondary: #3E3C4C;
    --color-labo-bg: #013723;
    --color-labo-bg-punctuel: #242329;
    --color-labo-bg-punctuel-secondary: #6E6C7E;
    --color-labo-muted-light: #64A990;
    --color-labo-menu: #3A0000;
    /* Cuisine */
    --color-labo-bg: #171715;
}

:root {
    --ease-audio: cubic-bezier(0.22, 1, 0.36, 1);
    --audio-duration: 420ms;
}

.musicCompo h2 {
    font-variation-settings: "wght" 400;
    transition: font-variation-settings 0.1s linear;
    will-change: font-variation-settings;
}

.pageLabo {
    background-color: var(--color-labo-bg);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pageLabo h2,
.pageLabo h3,
.pageLabo p {
    color: var(--color-labo-font);
}

.pageLabo hr {
    opacity: .2;
    border-top: 0.25px solid hsla(157, 62%, 39%, 0.3);
}

.pageLabo p {
    font-size: 14px;

}

.headTitle h2 {
    font-size: 10vw;
    margin: 0;
    font-family: "Inter var", system-ui, sans-serif;
    font-variation-settings: "wght" 900, "wdth" 100;
    white-space: nowrap;
    will-change: font-variation-settings, font-size;
}

.titleRubrique h3 {
    font-size: 30px;
    text-transform: none;
    margin: 0;
}


.rubrique {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rubrique .rightColumn {
    width: 100%;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 12px;
    padding: 12px;
    border: solid 1px var(--color-labo-bg-punctuel);
}

.leftColumn {
    width: 40%;
}

.liensCollection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.leftColumn .lienCollection {
    opacity: 0.5;
    transition: opacity 220ms cubic-bezier(0.22, 1, 0.36, 1);
    height: 48px;
    display: flex;
    align-items: center;
}

.leftColumn .lienCollection:hover {
    opacity: 1;
}


.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.miniSection {
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    padding: 12px;
    border: solid 1px var(--color-labo-bg-punctuel);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.miniSection .context {
    position: absolute;
}

.infoTitle {
    gap: 8px;
}

.infoTitle .title:nth-child(2) {
    font-size: 14px;
    opacity: .6;
}

.morceau {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: solid 1px var(--color-labo-bg-punctuel-secondary);
    border-radius: 4px;
    padding: 20px;

}

/* Un morceau sur deux */
.morceau:nth-child(even) {
    border: solid 1px var(--color-labo-onde-punctal-secondary);
}

.morceau p {
    white-space: nowrap;
}

/* Player musique */

.player {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    /* prevent osc from stretching full width */
}

/* Container de l’onde */
.osc {
    display: inline-flex;
    align-items: center;
    /* centrage vertical */
    gap: 2px;
    height: 64px;
    position: relative;
    cursor: pointer;

    width: fit-content;
    /* shrink-wrap to bars */
    flex: 0 0 auto;
    /* do not grow */
}

/* Rectangle (slice temporel) */
.osc-bar {
    width: 6px;
    border-radius: 1.4px;
    pointer-events: none;

    background: linear-gradient(to right,
            var(--color-labo-onde-punctal) 0%,
            var(--color-labo-onde-punctal) var(--fill, 0%),
            var(--color-labo-onde-punctal-secondary) var(--fill, 0%),
            var(--color-labo-onde-punctal-secondary) 100%);
}

.morceau:nth-child(even) .osc-bar {
    background: linear-gradient(to right,
            var(--color-labo-onde-punctal) 0%,
            var(--color-labo-onde-punctal) var(--fill, 0%),
            var(--color-labo-bg-punctuel-secondary) var(--fill, 0%),
            var(--color-labo-bg-punctuel-secondary) 100%);

}

.morceau:nth-child(even) .volume-bar {
    background: var(--color-labo-bg-punctuel-secondary);
}

/* Inactive state: compact */
.morceau .activePlay {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: center;

    gap: 0;
    height: auto;

    transition:
        gap 220ms cubic-bezier(0.22, 1, 0.36, 1),
        height 220ms cubic-bezier(0.22, 1, 0.36, 1);
}

/* Active state: expanded */
.morceau.is-active .activePlay {
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
}

.volume {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.volumeModif {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

/* Boutons volume */
.volume button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.volume button img {
    width: 16px;
    height: 16px;
}

/* Barre de volume */
.volume-bar {
    width: 120px;
    height: 12px;
    background: var(--color-labo-onde-punctal-secondary);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

/* Niveau de volume */
.volume-level {
    height: 100%;
    width: 100%;
    background: var(--color-labo-font);
    pointer-events: none;
}

.morceau .osc,
.morceau .volume {
    opacity: 0;
    pointer-events: none;

    max-height: 0;
    overflow: hidden;

    transform: translateY(-6px);

    transition:
        opacity var(--audio-duration) var(--ease-audio),
        max-height var(--audio-duration) var(--ease-audio),
        transform var(--audio-duration) var(--ease-audio);
}

/* Quand le morceau est actif */
.morceau.is-active .osc,
.morceau.is-active .volume {
    opacity: 1;
    pointer-events: auto;

    max-height: 120px;
    /* assez grand pour waveform + volume */
    transform: translateY(0);
}


/* Top 10 */
.autoLayout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.coverAlone {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.coverAlone img {
    width: 100%;
    height: 100%;
    display: block;
}

.coverAlone::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            #171715 0%,
            rgba(23, 23, 21, 0.65) 35%,
            rgba(23, 23, 21, 0) 60%);
    opacity: 0;
    pointer-events: none;

    transition: opacity 220ms cubic-bezier(0.22, 1, 0.36, 1);
}

.coverAlone:hover::after {
    opacity: 0.9;
    flex-direction: row;
}

.coverAlone .infoTitle {
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 12px;
    left: 12px;
    right: 12px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    opacity: 0;
    transform: translateY(8px);

    transition:
        opacity 2020ms cubic-bezier(0.22, 1, 0.36, 1),
        transform 220ms cubic-bezier(0.22, 1, 0.36, 1);
}

.coverAlone:hover .infoTitle {
    opacity: 1;
    transform: translateY(0);
}

/* Recettes */
.gridrSlide {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 12px;
    transition: gap 320ms cubic-bezier(0.22, 1, 0.36, 1);

    overflow-x: auto;
    overflow: hidden;
    border-radius: 6px;
}

.gridrSlide:has(article details[open]) {
    gap: 32px;
}

.gridrSlide:active {
    cursor: grabbing;
}

/* Cache scrollbar (clean) */
.gridrSlide::-webkit-scrollbar {
    display: none;
}

.carouselRecipe {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* =========================
   Flèches du carrousel
========================= */

.arrowMoove {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    /* petit espace constant entre les 2 flèches */
}

/* bouton */
.sliderArrow {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.sliderArrow svg {
    width: 109px;
    height: 15px;
    display: block;
    flex: 0 0 auto;
}

.arrowInner {
    display: inline-flex;
    align-items: center;
    overflow: hidden;

    width: 109px;
    /* largeur neutre */
    opacity: 1;

    transition:
        width 240ms cubic-bezier(0.22, 1, 0.36, 1),
        opacity 240ms cubic-bezier(0.22, 1, 0.36, 1);
}

.sliderArrow.left .arrowInner {
    justify-content: flex-start;
}

.sliderArrow.right .arrowInner {
    justify-content: flex-end;
}

.sliderArrow.is-reduced .arrowInner {
    width: 54px;
    opacity: 0.5;
}

/* =========================
   Fin Flèches du carrousel
========================= */




.gridrSlide {
    scrollbar-width: none;
}

article {
    position: relative;
    /* ← clé du problème */
    flex: 0 0 auto;
    background-color: var(--color-labo-font);
    border-radius: 12px;
    overflow: hidden;
    width: fit-content;
    cursor: pointer;
}

.mailSend {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 12px;
    border-radius: 0 12px 0 12px;
    overflow: hidden;

    background-color: hsla(157, 100%, 96%, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    text-transform: none;

    /* ✨ transition clean */
    transition:
        background-color 0.35s ease,
        backdrop-filter 0.35s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.mailSend:hover {
    background-color: hsla(0, 0%, 0%, 0.15);
}

.mailSend img {
    height: 12px;
}

article .recette {
    margin: 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

article img {
    height: 400px;
}

.recette details ul li,
.recette p {
    color: var(--color-labo-menu);
    text-transform: none;
    font-weight: lighter;
    font-size: 14px;
}

.recette details ul {
    margin: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(16px);

    transition:
        max-height var(--audio-duration) var(--ease-audio),
        opacity 820ms ease,
        transform var(--audio-duration) var(--ease-audio);
}


.recette details[open] ul {
    max-height: 600px;
    /* suffisamment grand */
    opacity: 1;
    transform: translateY(0);
}

.recette details ul hr {
    border: none;
    border-top: 0.5px solid hsla(157, 62%, 39%, 0.3);
}

.recipeSummary {
    list-style: none;

    display: flex;
    align-items: center;
    position: relative;
    padding-right: 2rem;
    text-transform: uppercase;
    color: var(--color-labo-menu);

    font-size: 21px;
    font-weight: 800;
}

/* Chrome - Safari */
.recipeSummary:-webkit-details-marker {
    display: none;
}

/* Firefox */
.recipeSummary::marker {
    content: "";
}

.recipeSummary::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    /* transform: translateY(-50%); */
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/icons/labo/menu/plus.svg");
}

/* Quand le details est ouvert */
details[open]>.recipeSummary::after {
    background-image: url("/public/icons/labo/menu/moins.svg");
}

h5 {
    color: var(--color-labo-menu);
    font-size: 19px;
    margin-bottom: 4px;
    margin-top: 12px;
    font-weight: 500;
}


.ingredientLine {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.ingredientQty {
    white-space: nowrap;
    opacity: 0.7;
}

.frontInformation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


/* =========================
   Modale Recette (<dialog>)
========================= */

/* état fermé : comportement natif */
.recipeModal:not([open]) {
    display: none;
}

/* conteneur dialog */
.recipeModal {
    border: none;
    border-radius: 20px;
    padding: 0;
    width: 640px;
    height: 280px;
    background-color: var(--color-labo-bg-punctuel);
    color: var(--color-labo-font);
}

/* backdrop natif */
.recipeModal::backdrop {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

/* contenu interne */
.modalContent {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modaleAny {
    padding: 32px;
    position: absolute;
    inset: 0;
}

#modalTitle {
    margin: 0;
    font-size: 21px;
}

.allimageMenu {
    flex-shrink: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
}

.backgroundMenu {
    z-index: 2;
    position: absolute;
    top: 20px;
    height: 80%;
}

/* image recette */
.modaleAny img:nth-child(2) {
    z-index: 2;
    border: solid 4px var(--color-labo-font);
    height: 100%;
    flex-shrink: 0;
    /* empêche l’écrasement */
    border-radius: 12px;
    object-fit: cover;
}


/* formulaire */
.modalForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modalForm input {
    padding: 12px 14px;
    border-radius: 4px;
    border: 0.5px solid hsla(157, 100%, 96%, 0.2);
}


/* All bouton */
.buttonModal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

/* bouton submit */
.modalSubmit {
    display: flex;
    gap: 0;
    padding: 10px 14px;
    border: none;
    background-color: var(--color-labo-font);
    color: var(--color-labo-menu);
}

.modalClose,
.modalSubmit {
    padding: 10px 14px;
    text-transform: none;
    border-radius: 999px;
    font-weight: 100;
    cursor: pointer;
}

.modalSubmit:hover {
    gap: 6px;
}

.modalSubmit img {
    object-fit: contain;
    align-items: center;

    width: 0;
    margin-left: 0;
    overflow: hidden;

    opacity: 0;

    transition:
        width 220ms cubic-bezier(0.22, 1, 0.36, 1),
        margin-left 220ms cubic-bezier(0.22, 1, 0.36, 1),
        transform 220ms cubic-bezier(0.22, 1, 0.36, 1),
        opacity 160ms ease;

    pointer-events: none;
}

.modalSubmit:hover img {
    width: 20px;

    opacity: 1;
}

.modalSubmit:active img {
    transform: translateX(0) scale(0.4);
}





/* bouton fermeture */
.modalClose {
    color: var(--color-labo-font);
    opacity: 0.7;
    border: 1px solid var(--color-labo-font);
}

.modalClose:hover {
    opacity: 1;
}


.modaleAny {
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.rightModal {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}


/* Responsive simple */
@media (max-width: 1100px) {
    .autoLayout {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .autoLayout {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .context {
        position: static;
        top: auto;
    }

    .leftColumn {
        width: 100%;
    }

    .rubrique {
        display: flex;
        flex-direction: column;
    }

    .autoLayout {
        grid-template-columns: repeat(2, 1fr);
    }

    #recipeModal {
        height: 680px;
    }

    .backgroundMenu {
        width: 0px;
    }

    .allimageMenu {
        height: auto;
        width: 100%;
    }

    .modaleAny {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .arrowMoove {
        display: none;
    }
}

@media (hover: none) and (pointer: coarse) {
    .arrowMoove {
        display: none;
    }

    .coverAlone::after {
        opacity: 0.9;
    }
}