.navbar a,
.buttonNav {
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.navbar li:hover a {
    color: var(--color-text-primary);
}

.navbar li {
    display: flex;
    gap: 1.25rem;
    font-size: 48px;

    margin: 0;
    padding: 0;

    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
}

.navbar li {
    overflow: hidden;
}

.navbar li .clip {
    display: inline-block;
}

.navbar li .clip {
    display: inline-block;
}

.navbar li {
    white-space: nowrap;
    cursor: pointer;

    color: var(--color-text-muted-bg-light);
    transition: color 0.25s ease;
}

.navbar li:hover,
.navbar li.is-active {
    color: var(--color-text-primary);
}

.bottomNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.buttonNav {
    padding: 0;
}

.downloadCV {
    opacity: 0;
}

.downloadCV:hover {
    opacity: 1;
    left: 0px;
}

/* ========================= */
/* PAGE (default navbar) */
/* ========================= */

nav.navbar {
    inset: 0 0 auto 0;
    z-index: 9999;
    background-color: var(--color-bg);
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    padding: 0 14px;
}


.navbar li:nth-last-child(-n+2) {
    width: 40px;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease;
    top: 0;

}



nav.navbar.navbar--hidden {
    transform: translateY(-100%);
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

/* Push the last two items (e.g., Labo + CV) to the right */
.navbar ul li:nth-last-child(2) {
    margin-left: auto;
}


.navbar ul li {
    font-size: 14px;
}

.bottomNav,
.downloadCV {
    display: none;
}

/* Logo SVG base styles */
.logoNavbar {
    height: 31px;
    color: var(--color-primary);
    transition: color 0.25s ease;
}

.logoNavbar:hover {
    color: var(--color-punctal);
}

/* Active state if on est sur la page souhaité */



/* Tablet */
@media (max-width: 1024px) {

    nav.navbar.navbar--hidden {
        transform: translateY(0);
    }


    .rightPart {
        padding-top: 48px;
    }

    nav {
        margin: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
    }

    nav.navbar {
        position: fixed;
        display: flex;
        flex-direction: row;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 18px;
    }

    .navbar ul li {
        font-size: 14px;
    }

    .bottomNav,
    .downloadCV {
        display: none;
    }

    .logoNavbar {
        display: block;
        height: 32px;
    }
}