/* =========================
   Color tokens (default)
========================= */
:root {
    /* Brand */
    --color-primary: #040015;
    --color-secondary: #E8EBE4;
    --color-punctal: #FF6421;
    --color-secondary-opacity-50: hsla(86, 15%, 91%, 0.5);
    --color-secondary-opacity-25: hsla(86, 15%, 91%, 0.25);

    /* Text */
    --color-text-primary: #040015;
    --color-text-muted-bg-light: hsla(86, 15%, 91%, 0.5);
    --color-text-nav: #64A990;
    --color-text-all: #013723;
    --color-text-secondary: #FBFFF6;
    --color-text-secondary-opacity-25: hsla(87, 100%, 98%, 0.25);
    --color-text-muted: hsla(252, 100%, 4%, 0.5);
    --color-text-punctal: #FF6421;
    --color-text-punctal-bg-green: #FFDDAD;

    /* Background */
    --color-bg: #fffbf6;
    --color-bg-secondary: #040015;
    --color-bg-muted: hsla(80, 13%, 91%, 0.10);

}

/* =========================
   Color tokens - Dark
========================= */
:root[data-theme="dark"] {
    /* Brand */
    --color-primary: white;
    --color-secondary: black;

    /* Text */
    --color-text-primary: white;
    --color-text-secondary: blue;

    /* Background */
    --color-bg: white;
    --color-bg-muted: blue;

    /* if Border there is */
    --color-border: white;
}

/* =========================
   Typography tokens
========================= */
:root {
    --font-sans: 'Helvetica', sans-serif;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
}


/* =========================
   Spacing tokens
========================= */
:root {
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-8: 2rem;
}

/* =========================
   Border radius tokens
========================= */

:root {
    --radius-S: 4px;
    --radius-L: 15px;
}